{% load staticfiles %}
<!DOCTYPE html>

<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="x-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    {% block css_link %}{% endblock %}
</head>
<body>
    <div id="container" class="container" style="margin-top:0px">
        <div id="header" class="container">{% include "account/header.html" %}</div>
        <div id="content" class="container" style="margin-top:150px">{% block content %}{% endblock %}</div>
        <div id="footer" class="container">{% include "account/footer.html" %}</div>
        {% block javascritp %}{% endblock %}
    </div>
</body>
</html>