{% load staticfiles %}

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-default" href="#">
            <img src="{% static 'images/logo.jpg' %}" width="80px" />
        </a>
    </div>

    <div>

            <ul class="nav navbar-nav" role="navigation" style="margin-top: 16px">
                <li><a href="{% url 'home:menu_process' %}">首页</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-left" style="margin-left: 20px">
                <li>
                    <div class="dropdown" style="margin-top: 25px">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_menu" data-toggle="dropdown">
                            图片<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'deep_image:image_retrieval' %}">图片检索</a></li>
                            <li><a href="#">人脸识别</a></li>
                            <li><a href="#">三维重建</a></li>
                            <li><a href="#">物体检测</a></li>
                            <li><a href="#">文字翻译</a></li>
                            <li><a href="#">篡改检测</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-left" style="margin-left: 35px">
                <li>
                    <div class="dropdown" style="margin-top: 25px">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_menu" data-toggle="dropdown">
                            视频<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">物体追踪</a></li>
                            <li><a href="#">内容审核</a></li>
                            <li><a href="#">内容分析</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-left" style="margin-left: 35px">
                <li>
                    <div class="dropdown" style="margin-top: 25px">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_menu" data-toggle="dropdown">
                            文本<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'deep_text:text_chat' %}">智能问答</a></li>
                            <li><a href="#">文本分类</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-left" style="margin-left: 35px">
                <li>
                    <div class="dropdown" style="margin-top: 25px">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_menu" data-toggle="dropdown">
                           语音<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">语音识别</a></li>
                            <li><a href="#">语音合成</a></li>
                            <li><a href="#">语音唤醒</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-left" style="margin-left: 35px">
                <li>
                    <div class="dropdown" style="margin-top: 25px">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_menu" data-toggle="dropdown">
                            AI商品<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">AI音箱</a></li>
                            <li><a href="#">智能家居</a></li>
                            <li><a href="#">智能玩具</a></li>
                            <li><a href="#">DIY设计</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="margin:15px 20px 15px">
                <li>
                    <a href="#">下载</a>
                </li>
            </ul>

    </div>
</nav>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>